tos-parser/input
**/venv
input/*
input
input/**/*

distbuild/*
distweb/*
**/.git/*
.idea
.git/*
**/node-modules/*
tos-html/package-lock.json
tos-search/node-modules/*
tos-search/package-lock.json
tos-parser/input/*
tos-web/input/*
tos-build/input/*
**/venv