logs/
variables.js
*.xlsx

########################################################################################################################
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/compiler.xml
.idea/**/encodings.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

#ebi
**/__pycache__
**/.DS_Store
tos-parser/src/venv
tos-parser/result
distweb/*
distbuild/*
*.bak
.DS_Store
**/*.zip
input/*
result.txt
**/node_modules
ipf_unpacker/tmp.ipf
ipf_unpacker/extract/global_jp.ipf/addon/beautyshop_simplelist/beautyshop_simplelist.xml
ipf_unpacker/extract/global_jp.ipf/addon/chat/chat.xml
ipf_unpacker/extract/global_jp.ipf/addon/chat_type/chat_type.lua
ipf_unpacker/extract/global_jp.ipf/addon/chat_type/chat_type.xml
ipf_unpacker/extract/global_jp.ipf/addon/companionhire/companionhire.lua
ipf_unpacker/extract/global_jp.ipf/addon/earthtowershop/earthtowershop.lua
ipf_unpacker/extract/global_jp.ipf/addon/gacha_cube_legend/gacha_cube_legend.lua
ipf_unpacker/extract/global_jp.ipf/addon/gacha_cube_legend/gacha_cube_legend.xml
ipf_unpacker/extract/global_jp.ipf/addon/indunenter/indunenter.xml
ipf_unpacker/extract/global_jp.ipf/addon/induninfo/induninfo.lua
ipf_unpacker/extract/global_jp.ipf/addon/induninfo/induninfo.xml
ipf_unpacker/extract/global_jp.ipf/addon/ingameeventbanner/ingameeventbanner.lua
ipf_unpacker/extract/global_jp.ipf/addon/itemcraft/itemCraft.lua
ipf_unpacker/extract/global_jp.ipf/addon/itemtranscend/itemtranscend.xml
ipf_unpacker/extract/global_jp.ipf/addon/market_sell/market_sell.xml
ipf_unpacker/extract/global_jp.ipf/addon/minimized_tp_button/minimized_tp_button.xml
ipf_unpacker/extract/global_jp.ipf/addon/minimizedeventbanner/minimizedeventbanner.xml
ipf_unpacker/extract/global_jp.ipf/addon/monstercardslot/monstercardslot.lua
ipf_unpacker/extract/global_jp.ipf/addon/openingameshopbtn/openingameshopbtn.xml
ipf_unpacker/extract/global_jp.ipf/addon/sageportal/sageportal.xml
ipf_unpacker/extract/global_jp.ipf/addon/shop/shop.lua
ipf_unpacker/extract/global_jp.ipf/addon/token/token.lua
ipf_unpacker/extract/global_jp.ipf/addon/token/token.xml
ipf_unpacker/extract/global_jp.ipf/addon/tpitem/tpitem_recycle.lua
ipf_unpacker/extract/global_jp.ipf/addon/tpitem/tpitem.lua
ipf_unpacker/extract/global_jp.ipf/addon/tpitem/tpitem.xml
ipf_unpacker/extract/global_jp.ipf/addon/tpitem_popupmsg/tpitem_popupmsg.lua
ipf_unpacker/extract/global_jp.ipf/addon/tpitem_popupmsg/tpitem_popupmsg.xml
ipf_unpacker/extract/global_jp.ipf/script/buff/item_buff.lua
ipf_unpacker/extract/global_jp.ipf/script/event/dailyTimeEvent.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV2018_REWARD_GUIDE.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV161215_SEED.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV170628_RAIN_MISSION.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV170711_NRU2_315Guide.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV170726_JP_KEPA2.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV170816_YOUR_CHOICE.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV171018_FEDIMIAN_RAID.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV180220_LAST_WINTER.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EV180327_GLOBAL_2YEARS.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_1804_ARBOR.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_1804_TRANSCEND.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_170711_GOLDEN_WHALE.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_170927_DAYCHECK.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_CUPON_GIFTBOX.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_DAYQUEST_RANDOM.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_JUMP_MISSION.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_MANWOO.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_MORU_KING.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_STEAM_CHRISTMAS.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_STEAM_NEW_YEAR_BOX.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_VIVID_CITY.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_WARP_DUNGEON.lua
ipf_unpacker/extract/global_jp.ipf/script/event/EVENT_WHITEDAY.lua
ipf_unpacker/extract/global_jp.ipf/script/event/SCR_STEAM_EVENT_NOTICE_BOARD.lua
ipf_unpacker/extract/global_jp.ipf/script/event/SCR_STEAM_OBSERVER_EVENT.lua
ipf_unpacker/extract/global_jp.ipf/script/indun/indun_the_end.lua
ipf_unpacker/extract/global_jp.ipf/script/ingameeventbanner/ingameeventbanner_server.lua
ipf_unpacker/extract/global_jp.ipf/script/item/item_etc.lua
ipf_unpacker/extract/global_jp.ipf/script/item/item_manufacture.lua
ipf_unpacker/extract/global_jp.ipf/script/npc/c_klapeda/blacksmith.lua
ipf_unpacker/extract/global_jp.ipf/script/npc/c_klapeda/KLAPEDA_BOUTIQUE.lua
ipf_unpacker/extract/global_jp.ipf/script/npc/c_klapeda/leticia_cube.lua
ipf_unpacker/extract/global_jp.ipf/script/sessionobject/Custom_Temp_script.lua
ipf_unpacker/extract/global_jp.ipf/script/sessionobject/ssn_klapeda.lua
ipf_unpacker/extract/global_jp.ipf/ui/baseskinset/baseskinset.xml
ipf_unpacker/extract/global_jp.ipf/ui/baseskinset/itemicon.xml
ipf_unpacker/extract/global_jp.ipf/ui/fixframe/barrack_charlist/barrack_charlist.xml
ipf_unpacker/extract/global_jp.ipf/ui/fixframe/barrackthema/barrackthema.lua
ipf_unpacker/extract/global_jp.ipf/ui/fixframe/loginui_autojoin_serverselect/loginui_autojoin_serverselect.xml
ipf_unpacker/extract/global_jp.ipf/ui/fixframe/loginui_serverselect/loginui_serverselect.xml
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/ATTACK_01_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/ATTACK_02_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/ATTACK_03_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/ATTACK_04_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/ATTACK_05_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/defense_synastry_chart.png
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/elemental_synastry_chart.png
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/GUILD_INVENTORY_01.png
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/GUILD_INVENTORY_02.png
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/GUILD_INVENTORY_03.png
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/GUILD_INVENTORY_04.png
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/JUMP_01_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/JUMP_02_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINE_1_CRYSTAL_8_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINE_1_CRYSTAL_8_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINI_E_BUFFBOX_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINI_E_BUFFBOX_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINI_E_BUFFBOX_03.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINI_E_STATUE_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINI_E_STATUE_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MINI_E_STATUE_03.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MOVE_1_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MOVE_2_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MOVE_3_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MOVE_4_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MOVE_5_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MOVE_6_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/MOVE_7_KB.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/QUEST_ACT2_DISS1_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/QUEST_ACT2_DISS1_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/SIAU15RE_SQ_03_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/SIAU15RE_SQ_03_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/SIAU16_SQ_03_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/SIAU16_SQ_03_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_ABILITYPOINT_TEAM_SHARE_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_ABILITYPOINT_TEAM_SHARE_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_ACHIEVEMENT_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BARRACK_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BARRACK_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BARRACK_03.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BARRACK_04.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BARRACK_05.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BARRACK_06.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BARRACK_07.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BEAUTY_SHOP_01.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BEAUTY_SHOP_02.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BEAUTY_SHOP_03.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BEAUTY_SHOP_04.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BEAUTY_SHOP_05.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BEAUTY_SHOP_06.jpg
ipf_unpacker/extract/global_jp.ipf/ui/helpimg/TUTO_BEAUTY_SHOP_07.jpg
.gitignore
tos-build/dist/assets/data/itos/attributes.csv
tos-build/dist/assets/data/itos/books.csv
tos-build/dist/assets/data/itos/cards.csv
tos-build/dist/assets/data/itos/collections.csv
tos-build/dist/assets/data/itos/cubes.csv
tos-build/dist/assets/data/itos/equipment-sets.csv
tos-build/dist/assets/data/itos/equipment.csv
tos-build/dist/assets/data/itos/gems.csv
tos-build/dist/assets/data/itos/items.csv
tos-build/dist/assets/data/itos/jobs.csv
tos-build/dist/assets/data/itos/maps.csv
tos-build/dist/assets/data/itos/monsters.csv
tos-build/dist/assets/data/itos/npcs.csv
tos-build/dist/assets/data/itos/recipes.csv
tos-build/dist/assets/data/itos/skills.csv
tos-build/dist/assets/data/jtos/attributes.csv
tos-build/dist/assets/data/jtos/books.csv
tos-build/dist/assets/data/jtos/cards.csv
tos-build/dist/assets/data/jtos/collections.csv
tos-build/dist/assets/data/jtos/cubes.csv
tos-build/dist/assets/data/jtos/equipment-sets.csv
tos-build/dist/assets/data/jtos/equipment.csv
tos-build/dist/assets/data/jtos/gems.csv
tos-build/dist/assets/data/jtos/items.csv
tos-build/dist/assets/data/jtos/jobs.csv
tos-build/dist/assets/data/jtos/maps.csv
tos-build/dist/assets/data/jtos/monsters.csv
tos-build/dist/assets/data/jtos/npcs.csv
tos-build/dist/assets/data/jtos/recipes.csv
tos-build/dist/assets/data/jtos/skills.csv
.gitignore
