<div>
  <div class="w-100" *ngIf="divider"><hr></div>
  <h5 *ngIf="header">Latest Market Price(JTOS)</h5>
   
  <div class="row mt-1" >
    <div class="col">
      <div class="row text-center">
        <div class="col">
        <table class="table table-borderless table-sm">
            <thead>
            <tr class="table-primary">
            <th scope="col">JP1007 Server(ラダ)</th>
            <th scope="col">JP1008 Server(ダリア)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            
            <td><a [href]="'https://tosmarket.mochisuke.jp/byclsid/?s=1007&amp;c=' + entity.$ID " >{{ server1007 }}</a></td>
            <td><a [href]="'https://tosmarket.mochisuke.jp/byclsid/?s=1008&amp;c=' + entity.$ID " >{{ server1008 }}</a></td>
           
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
