<h2>handtos.mochisuke.jp</h2>

<div class="row">

  <div class="col-lg-6">
    <p>
      This is an open-source database for Tree of Savior, a game being developed by IMC Games.<br/>
      tos.guruをベースとしているサイトです。
    </p>

    <p>
      <a [routerLink]="routerLink('simulator')">スキルシミュレータ</a><br/>
    </p>

    <p>
      A Database is also available, and currently supports the following datasets:
    </p>
    <ul *ngFor="let group of TOSDataSetService.VALUES; index as i">
      <li *ngFor="let option of group.options">
        <a [routerLink]="routerLink('database/' + TOSDataSetService.toUrl(option))">{{ TOSDataSetService.toLabel(option) }}</a>
      </li>
    </ul>

    <p>
      <b>問題など</b><br/>
      <b>問題がありましたら<a href="https://www.twitter.com/ebisuke">ebisuke</a>までご連絡ください。</b><br/>
      <b>※tos.guruのクローンサイトとなりますため tos.guruを運営されておりますrjgtav様への直接のご質問はご遠慮ください。</b>
    </p>
    <p><u>If you have a LanguageData folder for kTOS or twTOS, please provide it to me and I would appreciate it.</u></p>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light">
      <div class="card-header">
        Changelog
      </div>
      <!--  badge-info  badge-warning badge-success badge-danger -->
      <div class="card-body" style="max-height: calc(100vh - 16rem); overflow-y: auto">
        <h6>2021/07/23</h6>
          <li><span class="badge badge-success">追加</span>モンスタースキルを追加 </li>
          <li><span class="badge badge-success">追加</span>kTEST EP13-2暫定対応 </li>
          <li><span class="badge badge-warning">修正</span>アイコンの不足をある程度修正 </li>
          <li><span class="badge badge-warning">修正</span>データバージョン表記がおかしいのを修正 </li>
        <h6>2021/06/23</h6>
        <ul>
          <li><span class="badge badge-success">追加</span>複数言語のサポート（ただしITOSは英語以外不完全です） </li>
          <li><span class="badge badge-success">追加</span>バフ・デバフの追加 </li>
          <li><span class="badge badge-info">削除</span>スタンドアロンで動作する機能を削除 </li>
          <li><span class="badge badge-info">変更</span>SkillFactor等各種値をサーバサイドで計算するよう変更 </li>
          <li><span class="badge badge-info">変更</span>検索を部分一致に変更 </li>
          <li><span class="badge badge-warning">修正</span>特性が表示されない問題を修正 </li>
          <li><span class="badge badge-warning">修正</span>モンスターのパラメータが正しくないのを修正 </li>
          <li><span class="badge badge-bug">不具合</span>マップのデータがない（修正には時間がかかる見込みです） </li>
          <li><span class="badge badge-bug">不具合</span>アイコンが不足している </li>
          <li><span class="badge badge-bug">不具合</span>アイテムにリンクするコレクション・ドロップが表示されていない（ドロップについては表示できるかの見込みは不明です） </li>
          <li><span class="badge badge-bug">不具合</span>モンスターにリンクするマップ・ドロップが表示されていない（ドロップについては表示できるかの見込みは不明です） </li>
          <li><span class="badge badge-bug">不具合</span>なんかいろいろ </li>
          <li><span class="badge badge-bug">未実装</span>ゴッデスジェム・ゴッデス等級装備・女神カードが表示されない </li>
          
        </ul>


        
      </div>
    </div>
  </div>

</div>
