<h2>handtos.mochisuke.jp</h2>

<div class="row">

  <div class="col-lg-6">
    <p>
      This is an open-source database for Tree of Savior, a game being developed by IMC Games.<br/>
      tos.guruをベースとしているサイトです。
    </p>


    <p>
      <a [routerLink]="routerLink('simulator')">スキルシミュレータ</a> 現在動作確認中です。<br/>
    </p>

    <!--<p>
      A Database is also available, and currently supports the following datasets:
    </p>
    <ul *ngFor="let group of TOSDataSetService.VALUES; index as i">
      <li *ngFor="let option of group.options">
        <a [routerLink]="routerLink('database/' + TOSDataSetService.toUrl(option))">{{ TOSDataSetService.toLabel(option) }}</a>
      </li>
    </ul>-->

    <p>
      <b>問題など</b><br/>
      <b>問題がありましたら<a href="https://www.twitter.com/ebisuke">ebisuke</a>までご連絡ください。</b><br/>
      <b>※tos.guruのクローンサイトとなりますため tos.guruを運営されておりますrjgtav様への直接のご質問はご遠慮ください。</b>
    </p>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light">
      <div class="card-header">
        Changelog
      </div>
      <div class="card-body" style="max-height: calc(100vh - 16rem); overflow-y: auto">

        <h6>2021/06/**</h6>
        <ul>
          <li><span class="badge badge-info">試験</span> テスト公開</li>
        </ul>

        
      </div>
    </div>
  </div>

</div>
