<div class="w-100"><hr></div>
<h5 *ngIf="header">{{ header }}</h5>

<table class="table table-borderless table-sm text-center">
  <tbody>
    <!-- Anvil -->
    <tr *ngIf="anvilAvailable" class="table-primary">
      <th width="120">Anvil</th>
      <th>Bonus</th>
      <th>Silver</th>
      <th>Total</th>
    </tr>
    <tr *ngIf="anvilAvailable">
      <td>
        <tos-input-number [min]="0"
                          [max]="40"
                          [model]="anvilLevel"
                          (modelChange)="onAnvilChange($event)"></tos-input-number>
      </td>
      <td class="align-middle">{{ anvilBonus }}</td>
      <td class="align-middle">{{ anvilSilver | number }}</td>
      <td class="align-middle">{{ anvilSilverTotal | number }}</td>
    </tr>

    <!-- goddess anvil-->
    <tr *ngIf="goddessAnvilAvailable" class="table-primary">
      <th width="120">Anvil</th>
      <th>Bonus</th>
      <th>Required Materials</th>
      <th>Chance</th>
    </tr>
    <tr *ngIf="goddessAnvilAvailable">
      <td>
        <tos-input-number [min]="0"
                          [max]="30"
                          [model]="goddessAnvilLevel"
                          (modelChange)="onGoddessAnvilChange($event)"></tos-input-number>
      </td>
      <td class="align-middle">{{ goddessAnvilBonus }}</td>
      <td class="align-middle">
        <span *ngFor="let mat of goddessAnvilMaterial">
           <div *rxSubscribe="mat.Material$; let material">
            <a [href]="material.Url ">
            <img height="30" width="30" [src]="material.Icon ">
            x{{ mat.Amount }} </a>
            </div>
        </span>
      </td>

      <td class="align-middle">{{ goddessAnvilChance }}%</td>
    </tr>
    <tr *ngIf="goddessAnvilAvailable" class="table-primary">
      <th  colspan="4">Number of materials required to make the chance >= 50%</th>
    </tr>
    <tr *ngIf="goddessAnvilAvailable">
        <td  colspan="4">  
        <span *ngFor="let mat of goddessAnvilMaterialTotal" >
          <div *rxSubscribe="mat.Material$; let material">
            <a [href]="material.Url ">
            <img height="30" width="30" [src]="material.Icon ">
            x{{ mat.Amount }} </a>
            </div>
        </span>
        </td>
    </tr>
    <!-- Attribute -->
    <tr *ngIf="attributeAvailable" class="table-primary">
      <th width="120">Level</th>
      <th>Attribute Points</th>
      <th>Silver</th>
      <th>Total</th>
    </tr>
    <tr *ngIf="attributeAvailable">
      <td>
        <tos-input-number [min]="0"
                          [max]="attribute.LevelMax"
                          [model]="attributeLevel"
                          (modelChange)="onAttributeChange($event)"></tos-input-number>
      </td>
      <td class="align-middle">{{ attributePoints | number }}</td>
      <td class="align-middle">{{ attributeSilver | number }}</td>
      <td class="align-middle">{{ attributeSilverTotal | number }}</td>
    </tr>

    <!-- Transcendence -->
    <tr *ngIf="transcendAvailable" class="table-primary">
      <th width="120">Transcendence</th>
      <th>Bonus</th>
      <th class="text-nowrap">Blessed Gems</th>
      <th>Total</th>
    </tr>
    <tr *ngIf="transcendAvailable">
      <td>
        <tos-input-number [min]="0"
                          [max]="10"
                          [model]="transcendLevel"
                          (modelChange)="onTranscendChange($event)"></tos-input-number>
      </td>
      <td class="align-middle">{{ transcendBonus | percent }}</td>
      <td class="align-middle">{{ transcendShards }}</td>
      <td class="align-middle">{{ transcendShardsTotal }}</td>
    </tr>

  </tbody>
</table>
